<file-selector class="is-flex is-justify-content-center is-align-items-center">
  <div class="file is-boxed is-primary is-large">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-label">Choose a file…</span>
      </span>
    </label>
  </div>
</file-selector>

<style>
  file-selector {
    height: 100%;
  }
</style>

<script src="@scripts/file-selector.ts"></script>
