<file-selector class="is-flex is-justify-content-center is-align-items-center">
  <div class="file is-boxed is-primary is-large">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-label">Choose a file…</span>
      </span>
    </label>
  </div>
</file-selector>

<style>
  file-selector {
    height: 100%;
  }
</style>

<script>
  export class FileSelector extends HTMLElement {
    connectedCallback() {
      const inputEl = document.querySelector("input")!;

      inputEl.addEventListener("click", async (e) => {
        e.preventDefault();
        document.dispatchEvent(new CustomEvent("open-image-selector-dialog"));
      });
    }
  }
  customElements.define("file-selector", FileSelector);
</script>
