<section class="section">
  <div class="container">
    <div class="block">
      <form id="network-form">
        <label class="label">Host and port</label>

        <div class="field">
          <div class="control">
            <input
              id="host-and-port-input"
              class="input"
              type="text"
              placeholder="localhost:7860"
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="button is-primary" type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>

    <div class="block">
      <p id="result-message"></p>

      <div class="skeleton-block"></div>
    </div>
  </div>
</section>

<script>
  import { fetch } from "@tauri-apps/plugin-http";

  let hostAndPortInputEl: HTMLInputElement | null;
  let resultMessageEl: HTMLElement | null;

  const submit = async (hostAndPort: string) => {
    const result = await fetch(`http://${hostAndPort}/sdapi/v1/txt2img`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        prompt: "1girl, solo, red eyes, black hair, long hair",
        sampler_name: "Euler a",
        scheduler: "Automatic",
        steps: 20,
        width: 1152,
        height: 896,
        enable_hr: false,
        send_images: false,
        save_images: true,
      }),
    });

    if (resultMessageEl) {
      resultMessageEl.textContent = JSON.stringify(await result.json());
    }
  };

  hostAndPortInputEl = document.querySelector("#host-and-port-input");
  resultMessageEl = document.querySelector("#result-message");
  document.querySelector("#network-form")?.addEventListener("submit", (e) => {
    e.preventDefault();

    const hostAndPort = hostAndPortInputEl?.value;
    console.log(hostAndPort);
    if (!hostAndPort) {
      console.error("hostAndPort is undefined");
      return;
    }

    submit(hostAndPort);
  });
</script>
