---
import { Icon } from "astro-icon/components";
---

<!-- 上部ツールバー -->
<div
  class="top-toolbar enable-pointer-events is-flex is-justify-content-center"
>
  <div class="level">
    <div class="level-item">
      <div class="buttons has-text-white">
        <open-browser-button class="button is-rounded" title="ブラウザーを開く">
          <span class="icon">
            <Icon name="mage:dashboard" size="1.25em" />
          </span>
        </open-browser-button>
        <open-image-button class="button is-rounded" title="画像を開く">
          <span class="icon">
            <Icon name="mage:image" size="1.25em" />
          </span>
        </open-image-button>
        <open-directories-button
          class="button is-rounded"
          title="ディレクトリーを開く"
        >
          <span class="icon">
            <Icon name="mage:folder" size="1.25em" />
          </span>
        </open-directories-button>
        <copy-to-clipboard-button
          class="button is-rounded"
          title="画像をクリップボードへコピー"
        >
          <span class="icon">
            <Icon name="mage:clipboard-2" size="1.25em" />
          </span>
        </copy-to-clipboard-button>
      </div>
    </div>
  </div>
</div>

<style>
  .top-toolbar {
    height: var(--toolbar-height);
    background: var(--toolbar-background-color);
  }
</style>

<script>
  import "@scripts/global";

  class OpenBrowserButton extends HTMLElement {
    connectedCallback() {
      this.addEventListener("click", this.handleClick.bind(this));
    }

    handleClick() {
      document.dispatchEvent(new CustomEvent("open-browser-from-viewer", {}));
    }
  }
  customElements.define("open-browser-button", OpenBrowserButton);

  class OpenImageButton extends HTMLElement {
    connectedCallback() {
      this.addEventListener("click", this.handleClick.bind(this));
    }

    handleClick() {
      document.dispatchEvent(new CustomEvent("open-image-selector-dialog", {}));
    }
  }
  customElements.define("open-image-button", OpenImageButton);

  class OpenDirectoriesButton extends HTMLElement {
    connectedCallback() {
      this.addEventListener("click", this.handleClick.bind(this));
    }

    handleClick() {
      document.dispatchEvent(
        new CustomEvent("open-directories-selector-dialog", {})
      );
    }
  }
  customElements.define("open-directories-button", OpenDirectoriesButton);

  class CopyToClipboardButton extends HTMLElement {
    connectedCallback() {
      this.addEventListener("click", this.handleClick.bind(this));
    }

    handleClick() {
      document.dispatchEvent(new CustomEvent("copy-to-clipboard", {}));
    }
  }
  customElements.define("copy-to-clipboard-button", CopyToClipboardButton);
</script>
