---
import StarRating from "./StarRating.astro";
---

<!-- 下部ツールバー -->
<image-viewer-bottom-toolbar
  class="enable-pointer-events is-flex is-flex-direction-column is-justify-content-center"
>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10 is-flex is-justify-content-center">
      <StarRating />
    </div>
    <div class="column is-1"></div>
  </div>
</image-viewer-bottom-toolbar>

<style>
  image-viewer-bottom-toolbar {
    height: var(--toolbar-height);
    background: var(--toolbar-background-color);
  }
</style>

<script>
  class ImageViewerBottomToolbar extends HTMLElement {
    connectedCallback() {
      // StarRatingコンポーネントが自分でイベントをリッスンするため、
      // ここでは特に何もしない
    }
  }
  customElements.define(
    "image-viewer-bottom-toolbar",
    ImageViewerBottomToolbar
  );
</script>
