<image-viewer-ui-container>
  <div class="file is-boxed is-primary is-large">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-label">Choose a file…</span>
      </span>
    </label>
  </div>
</image-viewer-ui-container>

<script src="@scripts/image-viewer-ui-container.ts"></script>
