---
import { Icon } from "astro-icon/components";
---

<!-- オーバーレイ全体のラッパー -->
<div
  class="ui-overlay disable-pointer-events is-overlay is-flex is-flex-direction-column"
>
  <!-- 上部ツールバー -->
  <div
    class="top-toolbar enable-pointer-events is-flex is-justify-content-center"
  >
    <div class="level">
      <div class="level-item">
        <div class="buttons has-text-white">
          <button
            class="button is-rounded open-file-btn"
            title="ファイルを開く"
          >
            <span class="icon">
              <Icon name="mage:image" size="1.25em" />
            </span>
          </button>
          <button
            class="button is-rounded open-folder-btn"
            title="フォルダを開く"
          >
            <span class="icon">
              <Icon name="mage:folder" size="1.25em" />
            </span>
          </button>
          <button class="button is-rounded" title="画像をコピー">
            <span class="icon">
              <Icon name="mage:clipboard-2" size="1.25em" />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 中央ナビゲーション領域 -->
  <div class="navigation-area is-flex-grow-1 columns">
    <button
      class="enable-pointer-events column is-one-fifth is-relative is-flex is-align-items-center is-justify-content-center"
      title="前の画像"
    >
      <div class="is-overlay stripe"></div>
      <span class="icon is-large has-text-light">
        <Icon name="mage:arrow-left-circle-fill" size="100rem" />
      </span>
    </button>
    <div class="column"></div>
    <button
      class="enable-pointer-events column is-one-fifth is-relative is-flex is-align-items-center is-justify-content-center"
      title="次の画像"
    >
      <div class="is-overlay stripe"></div>
      <span class="icon is-large has-text-light">
        <Icon name="mage:arrow-right-circle-fill" size="100rem" />
      </span>
    </button>
  </div>

  <!-- 下部ツールバー -->
  <div
    class="bottom-toolbar enable-pointer-events is-flex is-flex-direction-column is-justify-content-center"
  >
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-10 is-flex is-justify-content-center">
        <div class="buttons has-addons is-small has-text-white">
          <button class="button p-2" data-rating="1" title="レーティング: 1">
            <span class="icon">
              <Icon name="mage:star-fill" size="1.0em" />
            </span>
          </button>
          <button class="button p-2" data-rating="2" title="レーティング: 2">
            <span class="icon">
              <Icon name="mage:star-fill" size="1.0em" />
            </span>
          </button>
          <button class="button p-2" data-rating="3" title="レーティング: 3">
            <span class="icon">
              <Icon name="mage:star-fill" size="1.0em" />
            </span>
          </button>
          <button class="button p-2" data-rating="4" title="レーティング: 4">
            <span class="icon">
              <Icon name="mage:star" size="1.0em" />
            </span>
          </button>
          <button class="button p-2" data-rating="5" title="レーティング: 5">
            <span class="icon">
              <Icon name="mage:star" size="1.0em" />
            </span>
          </button>
        </div>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</div>

<style>
  :root {
    --toolbar-height: 5rem;
    --toolbar-background-color: rgb(0 0 0 / 0.5);
  }

  .disable-pointer-events {
    pointer-events: none;
  }
  .enable-pointer-events {
    pointer-events: auto;
  }

  /* オーバーレイ全体のラッパー */
  .ui-overlay {
    opacity: 0;
  }

  .ui-overlay:hover {
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  /* 上部ツールバー */
  .top-toolbar {
    height: var(--toolbar-height);
    background: var(--toolbar-background-color);
  }

  /* 中央ナビゲーション領域 */
  .stripe {
    background: repeating-linear-gradient(
      45deg,
      rgb(255 255 255 / 1) 0rem,
      rgb(255 255 255 / 1) 0.5rem,
      rgb(255 255 255 / 0.5) 0.5rem,
      rgb(255 255 255 / 0.5) 1rem
    );
    opacity: 0.1;
    transition: opacity 0.2s ease;
  }

  .stripe:hover {
    opacity: 0.2;
  }

  .navigation-area .column.is-one-fifth .icon {
    transition: transform 0.2s ease;
  }
  .navigation-area .column.is-one-fifth:hover .icon {
    transform: scale(1.2);
  }

  /* 下部ツールバー */
  .bottom-toolbar {
    height: var(--toolbar-height);
    background: var(--toolbar-background-color);
  }
</style>
