<info-viewer-other class="is-block block">
  <p class="title is-4">Other</p>

  <table class="table is-striped is-hoverable is-size-6h">
    <tbody>
      <tr>
        <th>Model</th>
        <td data-label="model"></td>
      </tr>
      <tr>
        <th>Steps</th>
        <td data-label="steps"></td>
      </tr>
      <tr>
        <th>Sampler</th>
        <td data-label="sampler"></td>
      </tr>
      <tr>
        <th>Schedule type</th>
        <td data-label="schedule-type"></td>
      </tr>
      <tr>
        <th>Size</th>
        <td data-label="size"></td>
      </tr>
      <tr>
        <th>CFG scale</th>
        <td data-label="cfg-scale"></td>
      </tr>
      <tr>
        <th>Seed</th>
        <td data-label="seed"></td>
      </tr>
      <tr>
        <th>Clip skip</th>
        <td data-label="clip-skip"></td>
      </tr>
    </tbody>
  </table>
</info-viewer-other>

<script src="@scripts/info-viewer-other.ts"></script>
