<info-viewer-basic class="is-block block">
  <p class="title is-4">Basic</p>

  <table class="table is-striped is-hoverable is-size-6h">
    <tbody>
      <tr>
        <th title="Filename">Filename</th>
        <td data-label="filename"></td>
      </tr>
      <tr>
        <th title="Parent dir">Parent dir</th>
        <td data-label="parent-dir"></td>
      </tr>
      <tr>
        <th title="File size">File size</th>
        <td data-label="file-size"></td>
      </tr>
      <tr>
        <th title="Created">Created</th>
        <td data-label="file-created"></td>
      </tr>
      <tr>
        <th title="Modified">Modified</th>
        <td data-label="file-modified"></td>
      </tr>
      <tr>
        <th title="Resolution">Resolution</th>
        <td data-label="png-resolution"></td>
      </tr>
      <tr>
        <th title="Alpha">Alpha</th>
        <td data-label="png-alpha"></td>
      </tr>
      <tr>
        <th title="Exif: Created">Exif: Created</th>
        <td data-label="exif-create-timestamp-local"></td>
      </tr>
      <tr>
        <th title="Exif: Modified">Exif: Modified</th>
        <td data-label="exif-modify-timestamp-local"></td>
      </tr>
      <tr>
        <th title="Exif: Original created">Exif: Original created</th>
        <td data-label="exif-original-timestamp-local"></td>
      </tr>
      <tr>
        <th title="Exif: Rating">Exif: Rating</th>
        <td data-label="exif-rating"></td>
      </tr>
    </tbody>
  </table>
</info-viewer-basic>

<script src="@scripts/info-viewer-basic.ts"></script>
