<info-viewer-raw class="is-block block">
  <p class="title is-4">Raw</p>
  <textarea
    class="textarea is-size-7"
    placeholder="Raw SD parameters here!"
    readonly></textarea>
</info-viewer-raw>

<script src="@scripts/info-viewer-raw.ts"></script>
