---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main class="columns is-2">
    <div id="main-container" class="column is-three-quarters">
      <slot />
    </div>
    <div id="side-container" class="column has-background-primary-dark">
      <slot name="side-pain" />
    </div>
  </main>
</BaseLayout>

<style>
  main {
    min-height: 100vh;
  }

  #main-container,
  #side-container {
    height: 100vh;
    overflow-y: auto;
  }
</style>
